* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    opacity: .8;
}

.container {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.clock-container {
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
    background-image: url('./assets/face.svg');
    background-size: contain;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 3px 3px 20px 10px #3a0c0c3a;
}

.hours {
    width: 400px;
    height: 400px;
    position: absolute;
}

.minutes {
    width: 400px;
    height: 400px;
    position: absolute;
}

.seconds {
    width: 400px;
    height: 400px;
    position: absolute;
    opacity: .3;
}

.time-output {
    height: 80px;
    font-size: 2.5rem;
    margin: 1.5rem 0;
    align-items: center;
    gap: 1rem;
    display: none;
}

.show-output {
    display: flex;
    justify-content: center;
}

.time-output span {
    font-weight: bold;
    color: #ffffff;
}

#time-24, #time-text {
    text-align: center;
    box-shadow: 0 3px 10px 3px #0000003a;
    padding: .5rem 2rem;
    border-radius: 1rem;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 1.5rem;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    margin: 1rem;
}